@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.container {
  background-color: rgb(18, 19, 30);
  min-height: 100vh;
  padding-bottom: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  color: white;
  font-family: 'Outfit', sans-serif;
  font-size: 3rem;
  margin-top: 3rem;
}

.image-container {
  width: 100%;
  position: relative;
}

.image {
  border-radius: 20px;
}

.grid-item {
  flex-direction: column;
  border-radius: 20px;
  width: 50%;
  display: grid;
  margin-top: 2rem;
}